{% extends 'trabajador/base.html' %}

{% block contenido %}

        <form method="post" class="form pt-4">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-5">

                    <div class="row">
                        <div class="col">
                            <h1 class="card-title">Cambiar Contraseña</h1>
                        </div>
                    </div>
        
        
                    <div class="card mb-3 shadow bg-dark text-white">
                            <div class="card-header">
                                    <h4 class="card-title mb-0">Datos</h4>
                                </div>
                        <div class="card-body">
                            <div class="form-row justify-content-center">
                                <div class="form-group col-md-11">
                                    <label for="id_new_password1">
                                        {{form.new_password1.label}}
                                    </label>
                                    {{form.new_password1}}
                                    {% for error in form.new_password1.errors %}
                                        <p class="text-danger text-center">
                                            {{error}}
                                        </p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-row justify-content-center">
                                <div class="form-group col-md-11">
                                    <label for="id_new_password2">
                                        {{form.new_password2.label}}
                                    </label>
                                    {{form.new_password2}}
                                    {% for error in form.new_password2.errors %}
                                        <p class="text-danger text-center">
                                            {{error}}
                                        </p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="d-flex float-right">
                        <button type="submit" class="btn btn-primary">Actualizar</button>
                        <a href="{% url 'usuario:modificar_usuario' usuario.id %}" class="btn btn-secondary ml-2">Cancelar</a>
                    </div>
                </div>
            </div>

        </form>

{% endblock contenido %}
