{% extends 'trabajador/base.html' %}

{% block contenido %}
<div class="row justify-content-center">
    <div class="card col-6 space shadow">
        <div class="card-body">
            <div class="text-center">
                {% if user.get_username == usuario.username %}
                    <h3 class="resaltar text-center d-inline-block mb-4">
                        ¡CUIDADO! Estas por borrar tu propia cuenta
                    </h3>
                {% endif %}
                <h3 class="text-center d-inline">
                    ¿Seguro que deseas eliminar al usuario 
                </h3>
                <h3 class="resaltar text-center d-inline-block">
                    {{ usuario.username }}
                </h3>
                <h3 class="text-center d-inline">
                    ?
                </h3>
            </div>
            <form method="post" class="form">
                {% csrf_token %}
                <div class="d-flex justify-content-end pt-4">
                    <input type="submit" value="Eliminar" class="btn btn-danger mr-2">
                    <a href="{% url 'usuario:lista_usuario' %}" class="btn btn-secondary">Regresar</a>
                    
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock contenido %}
    