{% extends 'trabajador/base.html' %}

{% block contenido %}

<form method="post" class="form pt-4">
    {% csrf_token %}
    <div class="row justify-content-center">
        <div class="col-6">
            
            <div class="row">
                <div class="col">
                    <h1 class="card-title">Modificar Usuario</h1>
                </div>
            </div>
            
            
            <div class="card bg-dark text-white mb-3 shadow">
                <div class="card-header">
                    <h4 class="card-title mb-0">{{usuario}}</h4>
                </div>
                <div class="card-body pb-0">
                    <div class="form-row justify-content-center">
                        <div class="form-group col-11">
                            <label for="id_usuario">
                                {{form.username.label}}
                            </label>
                            {{form.username}}
                            {% for error in form.username.errors %}
                            <p class="text-warning text-center pb-0 mb-0">
                                {{error}}
                            </p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-11">
                            <label for="id_email">
                                {{form.email.label}}
                            </label>
                            {{form.email}}
                            {% for error in form.email.errors %}
                            <p class="text-warning text-center">
                                {{error}}
                            </p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-11">
                            <div class="form-inline justify-content-center">
                                {{form.is_superuser}}
                                <label class="form-check-label" for="id_is_superuser">
                                    {{form.is_superuser.label}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row justify-content-center mb-3">
                        <a href="{% url 'usuario:cambiar_contrasena' usuario.id %}" class="btn btn-dark">
                            Cambiar contraseña
                        </a>
                    </div>
                </div>
                <div class="d-flex float-right mb-3 mr-3 mt-2">
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                    <a href="{% url 'usuario:lista_usuario' %}" class="btn btn-secondary ml-2 border">Cancelar</a>
                </div>
            </div>
            
        </div>
    </div>
    
</form>

{% endblock contenido %}
