{% extends 'trabajador/base.html' %}
{% block contenido %}

    <div class="row justify-content-center pt-4">
        <div class="col-6">

            <div class="row">                
                <div class="col">
                    <h1 class="card-title">{{usuario.first_name}} {{usuario.last_name}}
                    {{usuario.materno}}</h1>
                </div>
            </div>

            <div class="card text-white bg-dark mb-3 shadow">
                <div class="card-header">
                    <h4 class="card-title mb-0">Datos del usuario</h4>
                </div>
                <div class="card-body pb-0">
                    <div class="form-row justify-content-center">
                        <div class="form-group col-11">
                            <label for="id_first_name">
                                Nombre(s)
                            </label>
                            <input
                                disabled
                                type="text"
                                class="form-control"
                                value="{{usuario.first_name}}"
                            />
                        </div>
                    </div>

                    <div class="form-row justify-content-center">
                        <div class="form-group col-11">
                            <label for="id_paterno">
                                Apellido Paterno
                            </label>
                            <input
                                disabled
                                type="text"
                                class="form-control"
                                value="{{usuario.last_name}}"
                            />
                        </div>
                    </div>

                    <div class="form-row justify-content-center">
                        <div class="form-group col-11">
                            <label for="id_materno">
                                Apellido Materno
                            </label>
                            <input
                                disabled
                                type="text"
                                class="form-control"
                                value="{{usuario.materno}}"
                            />
                        </div>
                    </div>

                    <div class="form-row justify-content-center">
                        <div class="form-group col-11">
                            <label for="id_usuario">
                                Usuario
                            </label>
                            <input
                                disabled
                                type="text"
                                class="form-control"
                                value="{{usuario.username}}"
                            />
                        </div>
                    </div>

                    <div class="form-row justify-content-center">
                        <div class="form-group col-11">
                            <label for="id_correo">
                                Correo Electrónico
                            </label>
                            <input
                                disabled
                                type="text"
                                class="form-control"
                                value="{{usuario.email}}"
                            />
                        </div>
                    </div>

                    <div class="form-row justify-content-center">
                        <div class="form-group col-11">
                            <label for="id_paterno">
                                ¿Es administrador?
                            </label>
                            <input
                                disabled
                                type="text"
                                class="form-control"
                                value="{% if usuario.is_superuser %}Si{% else %}No{% endif %}"
                            />
                        </div>
                    </div>
                </div>
                <div class="d-flex float-right mr-3 mb-3 mt-2">
                    <a href="{% url 'usuario:modificar_usuario' usuario.id %}" class="btn btn-primary">Editar</a>
                    <a href="{% url 'usuario:eliminar_usuario' usuario.id %}" class="btn btn-danger ml-2">Eliminar</a>
                    <button onClick="javascript:history.go(-1);"
                        class="btn btn-secondary ml-2 border">
                        Regresar
                    </button>
                </div>
            </div>

        </div>
    </div>


{% endblock contenido %}
