{% extends 'trabajador/base.html' %}
{% load static %}

{% block style %}
<div class = "bg-image">
</div>
{% endblock style %}

{% block contenido %}
<div class = "row justify-content-center">
   <div class = "card bg-dark text-white col-4 space shadow">
       <div class = "card-body">
            <h1 class = "card-title"> Iniciar Sesión </h1>
            <form method = "post" class = "form">
                {% csrf_token %}
                {% if form.non_field_errors %}
                   <ul class = 'form-errors list-unstyled'>
                        {% for error in form.non_field_errors %}
                            <li class = "text-danger"> {{error}} </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <div class = "form-group">
                    <label for = "id_username"> Usuario</label>
                    {{form.username}}
                    {% if form.username.errors %}
                       <ul class = 'form-errors list-unstyled'>
                            {% for error in form.username.errors %}
                                <li class = "text-danger"> {{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class = "form-group">
                    <label for = "id_password"> Contraseña</label>
                    {{form.password}}
                    {% if form.password.errors %}
                       <ul class = 'form-errors list-unstyled'>
                            {% for error in form.password.errors %}
                                <li class = "text-danger"> {{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class = "d-flex float-right">
                    <button type = "submit" class = "btn btn-primary">Ingresar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock contenido %}
