{% extends 'trabajador/base.html' %}

{% block contenido %}

        <form method="post" class="form pt-5" 
            {% if trabajador %}
                action="{% url 'trabajador:modificar_trabajador' trabajador.id %}"
            {% endif %}>
            {% csrf_token %}
            <div class="row mb-4">
                <div class="col-md-7 text-center">
                    {% if not trabajador %}
                        <h1 class="card-title mb-0">Nuevo Trabajador</h1>
                    {% else %}
                        <h1 class="card-title mb-0">Modificar Trabajador</h1>
                        <h2 class="mb-0">{{trabajador}}</h2>
                    {% endif %}
                    <p class="text-info">Todos los campos con asterisco(*) son obligatorio</p>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="form-check-label" for="id_validado_renapo">
                            {{form.validado_renapo.label}}
                        </label>
                        {{form.validado_renapo}}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="form-check-label" for="id_validado_siri">
                            {{form.validado_siri.label}}
                        </label>
                        {{form.validado_siri}}
                    </div>
                </div>
            </div>

            <div class="card text-white bg-dark mb-3 shadow">
                <div class="card-header">
                    <h4 class="card-title mb-0">Datos Personales</h4>
                </div>
                <div class="card-body">
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-2">
                            <label for="id_paterno">
                                {{form.paterno.label}}
                            </label>
                            {{form.paterno}}
                            {% for error in form.paterno.errors %}
                                <p class="text-danger text-center">
                                    {{error}}
                                </p>
                            {% endfor %}
                        </div>
                        <div class="form-group col-md-2">
                            <label for="id_materno">
                                {{form.materno.label}}
                            </label>
                            {{form.materno}}
                            {% for error in form.materno.errors %}
                                <p class="text-danger text-center">
                                    {{error}}
                                </p>
                            {% endfor %}
                        </div>
                        <div class="form-group col-md-3">
                            <label for="id_nombre">
                                {{form.nombre.label}}
                            </label>
                            {{form.nombre}}
                            {% for error in form.nombre.errors %}
                                <p class="text-danger text-center">
                                    {{error}}
                                </p>
                            {% endfor %}
                        </div>
                        <div class="form-group col-md-2">
                            <label for="id_rfc">
                                {{form.rfc.label}}
                            </label>
                            {{form.rfc}}
                            {% for error in form.rfc.errors %}
                                <p class="text-danger text-center">
                                    {{error}}
                                </p>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-3">
                            <label for="id_curp">
                                {{form.curp.label}}
                            </label>
                            {{form.curp}}
                            {% for error in form.curp.errors %}
                                <p class="text-danger text-center">
                                    {{error}}
                                </p>
                            {% endfor %}
                        </div>
                        <div class="form-group col-md-3">
                            <label for="id_curp">
                                {{form.sexo.label}}
                            </label>
                            <div class="d-flex h-100 text-center justify-content-center pb-4">
                                {{form.sexo}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card text-white bg-dark mb-3 shadow">
                <div class="card-header">
                    <h4 class="card-title mb-0">Datos de Residencia</h4>
                </div>
                <div class="card-body">
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-3">
                            <label for="id_pais_residencia">
                                {{form.pais_residencia.label}}
                            </label>
                            {{form.pais_residencia}}
                            {% for error in form.pais_residencia.errors %}
                                <p class="text-danger text-center">
                                    {{error}}
                                </p>
                            {% endfor %}
                        </div>
                        <div class="form-group col-md-3">
                            <label for="id_estado_residencia">
                                {{form.estado_residencia.label}}
                            </label>
                            {{form.estado_residencia}}
                            {% for error in form.estado_residencia.errors %}
                                <p class="text-danger text-center">
                                    {{error}}
                                </p>
                            {% endfor %}
                        </div>
                        <div class="form-group col-md-3">
                            <label for="id_municipio_residencia">
                                {{form.municipio_residencia.label}}
                            </label>
                            {{form.municipio_residencia}}
                            {% for error in form.municipio_residencia.errors %}
                                <p class="text-danger text-center">
                                    {{error}}
                                </p>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-3">
                            <label for="id_calle">
                                {{form.calle.label}}
                            </label>
                            {{form.calle}}
                            {% for error in form.calle.errors %}
                                <p class="text-danger text-center">
                                    {{error}}
                                </p>
                            {% endfor %}
                        </div>
                        <div class="form-group col-md-1">
                            <label for="id_numero">
                                {{form.numero.label}}
                            </label>
                            {{form.numero}}
                            {% for error in form.numero.errors %}
                                <p class="text-danger text-center">
                                    {{error}}
                                </p>
                            {% endfor %}
                        </div>
                        <div class="form-group col-md-3">
                            <label for="id_colonia">
                                {{form.colonia.label}}
                            </label>
                            {{form.colonia}}
                            {% for error in form.colonia.errors %}
                                <p class="text-danger text-center">
                                    {{error}}
                                </p>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-1">
                            <label for="id_cp">
                                {{form.cp.label}}
                            </label>
                            {{form.cp}}
                            {% for error in form.cp.errors %}
                                <p class="text-danger text-center">
                                    {{error}}
                                </p>
                            {% endfor %}
                        </div>
                        <div class="form-group col-md-2">
                            <label for="id_telefono">
                                {{form.telefono.label}}
                            </label>
                            {{form.telefono}}
                            {% for error in form.telefono.errors %}
                                <p class="text-danger text-center">
                                    {{error}}
                                </p>
                            {% endfor %}
                        </div>
                        <div class="form-group col-md-3">
                            <label for="id_email">
                                {{form.email.label}}
                            </label>
                            {{form.email}}
                            {% for error in form.email.errors %}
                                <p class="text-danger text-center">
                                    {{error}}
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="card text-white bg-dark mb-3 shadow">
                <div class="card-header">
                    <h4 class="card-title mb-0">Datos Laborales</h4>
                </div>
                <div class="card-body">

                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-3">
                            <label for="id_matricula_administrativo">
                                {{form.matricula_administrativo.label}}
                            </label>
                            {{form.matricula_administrativo}}
                            {% for error in form.matricula_administrativo.errors %}
                                <p class="text-danger text-center">
                                    {{error}}
                                </p>
                            {% endfor %}
                        </div>
                        <div class="form-group col-md-3">
                            <label for="id_matricula_gremial">
                                {{form.matricula_gremial.label}}
                            </label>
                            {{form.matricula_gremial}}
                            {% for error in form.matricula_gremial.errors %}
                                <p class="text-danger text-center">
                                    {{error}}
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="card text-white bg-dark mb-3 shadow">
                <div class="card-header">
                    <h4 class="card-title mb-0">Datos Academicos</h4>
                </div>
                <div class="card-body">

                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-5">
                            <label for="id_grado_max_estudios">
                                {{form.grado_max_estudios.label}}
                            </label>
                            {{form.grado_max_estudios}}
                            {% for error in form.grado_max_estudios.errors %}
                                <p class="text-danger text-center">
                                    {{error}}
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="card text-white bg-dark mb-3 shadow">
                <div class="card-header">
                    <h4 class="card-title mb-0">Datos de ISSSTE</h4>
                </div>
                <div class="card-body">

                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-3">
                            <label for="id_nss">
                                {{form.nss.label}}
                            </label>
                            {{form.nss}}
                            {% for error in form.nss.errors %}
                                <p class="text-danger text-center">
                                    {{error}}
                                </p>
                            {% endfor %}
                        </div>
                        <div class="form-group col-md-3">
                            <label for="id_no_issste">
                                {{form.no_issste.label}}
                            </label>
                            {{form.no_issste}}
                            {% for error in form.no_issste.errors %}
                                <p class="text-danger text-center">
                                    {{error}}
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex float-right mb-3">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="{% url 'trabajador:lista_trabajador' %}" class="btn btn-secondary ml-2">Cancelar</a>
            </div>

        </form>

{% endblock contenido %}
