{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome/styles.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <title>
        SCATUAZ
    </title>
</head>
<body class="bg-grey">
    {% block style %}{% endblock style %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'login:iniciar_sesion' %}"><h4>SCATUAZ</h4></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if user.is_authenticated %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% if actual == 'trabajador' %} active {% endif %}">
                        <a class="nav-link" href="{% url 'trabajador:lista_trabajador' %}">Trabajadores</a>
                    </li>
                    {% if user.is_superuser %}    
                    <li class="nav-item {% if actual == 'usuario' %} active {% endif %}">
                        <a class="nav-link" href="{% if actual == 'usuario' %}#{% else %}{% url 'usuario:lista_usuario' %}{% endif %}">Usuarios</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav ml-auto">
                    <a class="nav-link" href="{% url 'login:cerrar_sesion' %}"><small>Cerrar Sesión</small></a>
                </ul>
            {% endif %}
        </div>
    </nav>
    <div class="container">
        {% block contenido %}
            
        {% endblock contenido %}
    </div>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-notify.min.js' %}"></script>
    <script>
        function abrir_modal(url) {
            $('#popup').load(url, function() {
                $(this).modal('show');
            });
            return false;
        }

        function cerrar_modal() {
            $('#popup').modal('hide');
            return false;
        }
        $(document).ready(function(){

            {% if messages %}
                {% for message in messages %}
                    $.notify({
                        icon: '{% if message.tags == "error" %}fas fa-exclamation-triangle{% elif message.tags == "success" %}fas fa-check-circle{% endif %}',
                        message: '{{ message }}',
                        target: '_top'
                    },{
                        type: "{% if message.tags == 'error' %}danger{% elif message.tags == 'success' %}success{% endif %}",
                    });
                {% endfor %}
            {% endif %}

            {% block scripts %}
            {% endblock scripts %}
        });
    </script>
</body>
</html>