{% extends 'trabajador/base.html' %}

{% block contenido %}
<div class="row justify-content-center">
    <div class="card col-6 bg-dark space shadow">
        <div class="card-body">
            <div class="text-center">
                <h3 class="text-white d-inline">
                    ¿Seguro que deseas eliminar al trabajador 
                    <strong class="text-danger">{{ trabajador.nombre }} {{ trabajador.paterno }} {{ trabajador.materno }}</strong>
                    con RFC <strong class="text-danger">{{ trabajador.rfc }}</strong>?
                </h3>
            </div>
            <form method="post" class="form">
                {% csrf_token %}
                <div class="d-flex justify-content-end pt-5">
                    <input type="submit" value="Eliminar" class="btn btn-danger mr-2">
                    <button type="button"
                        onClick="javascript:history.go(-1);"
                        class="btn btn-secondary"
                    >
                        Regresar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock contenido %}
    