<div class="modal-dialog" id="modalBase">
    <div class="modal-content">
        <form id="form" role="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-header">
                {% if update %}
                    <h4 class="modal-title">Actualizar {{nombre_archivo}}</h4>
                {% else %}
                    <h2 class="modal-title">Agregar {{nombre_archivo}}</h2>
                {% endif %}
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <span class="border-top my-3"></span>

            <div class="modal-body">
                <label for="id_archivo">Selecciona archivo</label>
                <input class="form-control" id="id_archivo" type="file" name="{{tipo_archivo}}" required>
                {% if incluir_nombre %}
                    <label for="id_nombre">Nombre de archivo</label>
                    <input type="text" id="id_nombre" name="nombre" class="form-control">
                {% endif %}
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" name="submit">Guardar<i class="icon-paperplane ml-2"></i></button>
                <button type="button" class="btn btn-secondary" onclick="return cerrar_modal()">Cancelar</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $("#form").submit(function (e) {
        e.preventDefault();
        
        var dest = '{% url "trabajador:agregar_archivo" id=trabajador.id archivo=tipo_archivo %}';

        $.ajax({
            type: 'POST',
            method: 'POST',
            cache: false,
            processData: false,
            contentType: false,
            url: dest,
            data: new FormData( this ),
            success: function (response) {
                console.log(response.redirect);
                window.location.href = response.redirect;
                cerrar_modal();
            },
            error: function (response) {
                $("#modalBase").replaceWith(response.responseText);
                $("#popup").animate({ scrollTop: 0 }, 'slow');
                $("#message").html('Corrige los campos con errores');
            }
        })
    })
</script>