{% extends 'trabajador/base.html' %}

{% block contenido %}
<div class="row mb-4 pt-3 justify-content-center">
    <div class="col-md-8 text-center align-self-center">
        <h1 class="card-title mb-0">
            {{trabajador.nombre}} {{trabajador.paterno}}
            {{trabajador.materno}}
        </h1>
        <small class="text-primary">Registrado por <strong>{{trabajador.alta_usuario.username}}</strong> el día <strong>{{trabajador.alta_fecha}}</strong></small>
        <div class="form-check mt-3">
            <label class="form-check-label">
                Validado por RENAPO
            </label>
            {% if trabajador.validado_renapo == '1' %}
                <i class="fas fa-check text-success"></i>
            {% else %}
                <i class="fas fa-times text-danger"></i>
            {% endif %}
        </div>
        <div class="form-check">
            <label class="form-check-label" for="id_validado_siri">
                Validado por SIRI
            </label>
            {% if trabajador.validado_siri == '1' %}
                <i class="fas fa-check text-success"></i>
            {% else %}
                <i class="fas fa-times text-danger"></i>
            {% endif %}
        </div>
    </div>
</div>

<div class="card text-white bg-dark mb-3 shadow">
    <div class="card-header">
        <h4 class="card-title mb-0">Documentos personales</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="card mb-1 h-100 shadow">
                    <div class="card-header">
                        <h6 class="card-title text-dark mb-0">Acta de nacimiento</h6>
                    </div>
                    <div class="card-body d-flex">
                        {% if doc_personales.acta_nacimiento %}
                            <a href="{{ MEDIA_URL }}{{ doc_personales.acta_nacimiento }}" target="_blank" class="btn btn-sm btn-secondary mt-auto ml-auto mr-2">Ver</a>
                            <button onclick="return abrir_modal('{% url 'trabajador:agregar_archivo' id=trabajador.id archivo='acta_nacimiento' %}')" class="btn btn-sm btn-warning mt-auto ml-auto">Actualizar</button>
                        {% else %}
                            <button onclick="return abrir_modal('{% url 'trabajador:agregar_archivo' id=trabajador.id archivo='acta_nacimiento' %}')" class="btn btn-sm btn-success mt-auto ml-auto">Agregar</button>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card mb-1 h-100 shadow">
                    <div class="card-header">
                        <h6 class="card-title text-dark mb-0">Comprobante de domicilio</h6>
                    </div>
                    <div class="card-body d-flex">
                        {% if doc_personales.comprobante_domicilio %}
                            <a href="{{ MEDIA_URL }}{{ doc_personales.comprobante_domicilio }}" target="_blank" class="btn btn-sm btn-secondary mt-auto ml-auto mr-2">Ver</a>
                            <button onclick="return abrir_modal('{% url 'trabajador:agregar_archivo' id=trabajador.id archivo='comprobante_domicilio' %}')" class="btn btn-sm btn-warning mt-auto ml-auto">Actualizar</button>
                        {% else %}
                            <button onclick="return abrir_modal('{% url 'trabajador:agregar_archivo' id=trabajador.id archivo='comprobante_domicilio' %}')" class="btn btn-sm btn-success mt-auto ml-auto">Agregar</button>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card mb-1 h-100 shadow">
                    <div class="card-header">
                        <h6 class="card-title text-dark mb-0">CURP/RFC</h6>
                    </div>
                    <div class="card-body d-flex">
                        {% if doc_personales.curp_rfc %}
                            <a href="{{ MEDIA_URL }}{{ doc_personales.curp_rfc }}" target="_blank" class="btn btn-sm btn-secondary mt-auto ml-auto mr-2">Ver</a>
                            <button onclick="return abrir_modal('{% url 'trabajador:agregar_archivo' id=trabajador.id archivo='curp_rfc' %}')" class="btn btn-sm btn-warning mt-auto ml-auto">Actualizar</button>
                        {% else %}
                            <button onclick="return abrir_modal('{% url 'trabajador:agregar_archivo' id=trabajador.id archivo='curp_rfc' %}')" class="btn btn-sm btn-success mt-auto ml-auto">Agregar</button>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card mb-1 h-100 shadow">
                    <div class="card-header">
                        <h6 class="card-title text-dark mb-0">SAT</h6>
                    </div>
                    <div class="card-body d-flex">
                        {% if doc_personales.sat %}
                            <a href="{{ MEDIA_URL }}{{ doc_personales.sat }}" target="_blank" class="btn btn-sm btn-secondary mt-auto ml-auto mr-2">Ver</a>
                            <button onclick="return abrir_modal('{% url 'trabajador:agregar_archivo' id=trabajador.id archivo='sat' %}')" class="btn btn-sm btn-warning mt-auto ml-auto">Actualizar</button>
                        {% else %}
                            <button onclick="return abrir_modal('{% url 'trabajador:agregar_archivo' id=trabajador.id archivo='sat' %}')" class="btn btn-sm btn-success mt-auto ml-auto">Agregar</button>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card mb-1 h-100 shadow">
                    <div class="card-header">
                        <h6 class="card-title text-dark mb-0">INE</h6>
                    </div>
                    <div class="card-body d-flex">
                        {% if doc_personales.ine %}
                            <a href="{{ MEDIA_URL }}{{ doc_personales.ine }}" target="_blank" class="btn btn-sm btn-secondary mt-auto ml-auto mr-2">Ver</a>
                            <button onclick="return abrir_modal('{% url 'trabajador:agregar_archivo' id=trabajador.id archivo='ine' %}')" class="btn btn-sm btn-warning mt-auto ml-auto">Actualizar</button>
                        {% else %}
                            <button onclick="return abrir_modal('{% url 'trabajador:agregar_archivo' id=trabajador.id archivo='ine' %}')" class="btn btn-sm btn-success mt-auto ml-auto">Agregar</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card text-white bg-dark mb-3 shadow">
    <div class="card-header">
        <h4 class="card-title mb-0">Documentos academicos</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="card mb-1 h-100 shadow">
                    <div class="card-header">
                        <h6 class="card-title text-dark mb-0">Primaria</h6>
                    </div>
                    <div class="card-body d-flex">
                        {% if doc_academicos.primaria %}
                            <a href="{{ MEDIA_URL }}{{ doc_academicos.primaria }}" target="_blank" class="btn btn-sm btn-secondary mt-auto ml-auto mr-2">Ver</a>
                            <button onclick="return abrir_modal('{% url 'trabajador:agregar_archivo' id=trabajador.id archivo='primaria' %}')" class="btn btn-sm btn-warning mt-auto ml-auto">Actualizar</button>
                        {% else %}
                            <button onclick="return abrir_modal('{% url 'trabajador:agregar_archivo' id=trabajador.id archivo='primaria' %}')" class="btn btn-sm btn-success mt-auto ml-auto">Agregar</button>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card mb-1 h-100 shadow">
                    <div class="card-header">
                        <h6 class="card-title text-dark mb-0">Secundaria</h6>
                    </div>
                    <div class="card-body d-flex">
                        {% if doc_academicos.secundaria %}
                            <a href="{{ MEDIA_URL }}{{ doc_academicos.secundaria }}" target="_blank" class="btn btn-sm btn-secondary mt-auto ml-auto mr-2">Ver</a>
                            <button onclick="return abrir_modal('{% url 'trabajador:agregar_archivo' id=trabajador.id archivo='secundaria' %}')" class="btn btn-sm btn-warning mt-auto ml-auto">Actualizar</button>
                        {% else %}
                            <button onclick="return abrir_modal('{% url 'trabajador:agregar_archivo' id=trabajador.id archivo='secundaria' %}')" class="btn btn-sm btn-success mt-auto ml-auto">Agregar</button>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card mb-1 h-100 shadow">
                    <div class="card-header">
                        <h6 class="card-title text-dark mb-0">Preparatoria</h6>
                    </div>
                    <div class="card-body d-flex">
                        {% if doc_academicos.preparatoria %}
                            <a href="{{ MEDIA_URL }}{{ doc_academicos.preparatoria }}" target="_blank" class="btn btn-sm btn-secondary mt-auto ml-auto mr-2">Ver</a>
                            <button onclick="return abrir_modal('{% url 'trabajador:agregar_archivo' id=trabajador.id archivo='preparatoria' %}')" class="btn btn-sm btn-warning mt-auto ml-auto">Actualizar</button>
                        {% else %}
                            <button onclick="return abrir_modal('{% url 'trabajador:agregar_archivo' id=trabajador.id archivo='preparatoria' %}')" class="btn btn-sm btn-success mt-auto ml-auto">Agregar</button>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card mb-1 h-100 shadow">
                    <div class="card-header">
                        <h6 class="card-title text-dark mb-0">Licenciatura</h6>
                    </div>
                    <div class="card-body d-flex">
                        {% if doc_academicos.licenciatura %}
                            <a href="{{ MEDIA_URL }}{{ doc_academicos.licenciatura }}" target="_blank" class="btn btn-sm btn-secondary mt-auto ml-auto mr-2">Ver</a>
                            <button onclick="return abrir_modal('{% url 'trabajador:agregar_archivo' id=trabajador.id archivo='licenciatura' %}')" class="btn btn-sm btn-warning mt-auto ml-auto">Actualizar</button>
                        {% else %}
                            <button onclick="return abrir_modal('{% url 'trabajador:agregar_archivo' id=trabajador.id archivo='licenciatura' %}')" class="btn btn-sm btn-success mt-auto ml-auto">Agregar</button>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card mb-1 h-100 shadow">
                    <div class="card-header">
                        <h6 class="card-title text-dark mb-0">Cédula profesional</h6>
                    </div>
                    <div class="card-body d-flex">
                        {% if doc_academicos.cedula_profesional %}
                            <a href="{{ MEDIA_URL }}{{ doc_academicos.cedula_profesional }}" target="_blank" class="btn btn-sm btn-secondary mt-auto ml-auto mr-2">Ver</a>
                            <button onclick="return abrir_modal('{% url 'trabajador:agregar_archivo' id=trabajador.id archivo='cedula_profesional' %}')" class="btn btn-sm btn-warning mt-auto ml-auto">Actualizar</button>
                        {% else %}
                            <button onclick="return abrir_modal('{% url 'trabajador:agregar_archivo' id=trabajador.id archivo='cedula_profesional' %}')" class="btn btn-sm btn-success mt-auto ml-auto">Agregar</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="card text-dark mb-3 mt-3 shadow">
            <div class="card-header">
                <h4 class="card-title mb-0">Constancias</h4>
            </div>
            <div class="card-body">
                {% if doc_aca_constancia %}
                    <div class="row mb-3">
                        {% for doc in doc_aca_constancia %}
                            <div class="col">
                                <div class="card mb-1 h-100 shadow">
                                    <div class="card-header">
                                        <h6 class="card-title text-dark mb-0">{{ doc.nombre }}</h6>
                                    </div>
                                    <div class="card-body d-flex">
                                        <a href="{{ MEDIA_URL }}{{doc.archivo}}" target="_blank" class="btn btn-sm btn-secondary mt-auto ml-auto mr-2">Ver</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>No hay constancias</p>
                {% endif %}
                <button onclick="return abrir_modal('{% url 'trabajador:agregar_archivo' id=trabajador.id archivo='constancia' %}')" class="btn btn-success float-right">Agregar</button>
            </div>
        </div>

        <div class="card text-dark mb-3 mt-3 shadow">
            <div class="card-header">
                <h4 class="card-title mb-0">Diplomas</h4>
            </div>
            <div class="card-body">
                {% if doc_aca_diploma %}
                    <div class="row mb-3">
                        {% for doc in doc_aca_diploma %}
                            <div class="col">
                                <div class="card mb-1 h-100 shadow">
                                    <div class="card-header">
                                        <h6 class="card-title text-dark mb-0">{{ doc.nombre }}</h6>
                                    </div>
                                    <div class="card-body d-flex">
                                        <a href="{{ MEDIA_URL }}{{doc.archivo}}" target="_blank" class="btn btn-sm btn-secondary mt-auto ml-auto mr-2">Ver</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>No hay diplomas</p>
                {% endif %}
                <button onclick="return abrir_modal('{% url 'trabajador:agregar_archivo' id=trabajador.id archivo='diploma' %}')" class="btn btn-success float-right">Agregar</button>
            </div>
        </div>

        <div class="card text-dark mb-3 mt-3 shadow">
            <div class="card-header">
                <h4 class="card-title mb-0">Reconocimientos</h4>
            </div>
            <div class="card-body">
                {% if doc_aca_reconocimiento %}
                    <div class="row mb-3">
                        {% for doc in doc_aca_reconocimiento %}
                            <div class="col">
                                <div class="card mb-1 h-100 shadow">
                                    <div class="card-header">
                                        <h6 class="card-title text-dark mb-0">{{ doc.nombre }}</h6>
                                    </div>
                                    <div class="card-body d-flex">
                                        <a href="{{ MEDIA_URL }}{{doc.archivo}}" target="_blank" class="btn btn-sm btn-secondary mt-auto ml-auto mr-2">Ver</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>No hay reconocimientos</p>
                {% endif %}
                <button onclick="return abrir_modal('{% url 'trabajador:agregar_archivo' id=trabajador.id archivo='reconocimiento' %}')" class="btn btn-success float-right">Agregar</button>
            </div>
        </div>
    </div>
</div>

<div class="d-flex float-right">
    <button onClick="javascript:history.go(-1);"
        class="btn btn-secondary mb-3 ml-2">
        Regresar
    </button>
</div>

<div id="popup" class="modal fade" role="dialog"></div>

{% endblock contenido %}