{% extends 'trabajador/base.html' %}

{% block contenido %}
        <div class="row mb-4 pt-3 justify-content-center">
            <div class="col-md-8 text-center align-self-center">
                <h1 class="card-title mb-0">
                    {{trabajador.nombre}} {{trabajador.paterno}}
                    {{trabajador.materno}}
                </h1>
                <small class="text-primary">Registrado por <strong>{{trabajador.alta_usuario.username}}</strong> el día <strong>{{trabajador.alta_fecha}}</strong></small>
                <div class="form-check mt-3">
                    <label class="form-check-label">
                        Validado por RENAPO
                    </label>
                    {% if trabajador.validado_renapo == '1' %}
                        <i class="fas fa-check text-success"></i>
                    {% else %}
                        <i class="fas fa-times text-danger"></i>
                    {% endif %}
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="id_validado_siri">
                        Validado por SIRI
                    </label>
                    {% if trabajador.validado_siri == '1' %}
                        <i class="fas fa-check text-success"></i>
                    {% else %}
                        <i class="fas fa-times text-danger"></i>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-4 d-flex align-items-center">
            {% if actualizaciones|length > 0 %}

                <button class="btn btn-info" data-toggle="modal" data-target="#historial_cambios">Historial de cambios</button>
            
                <div class="modal fade" id="historial_cambios" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog mw-100 w-50" role="document">
                        <div class="modal-content bg-dark">
                            <table class="table table-dark text-center m-0">
                                <thead class="">
                                    <tr>
                                        <th class="border-top-0" colspan="3"><b>Historial de Cambios</b></th>
                                    </tr>
                                    <tr>
                                        <th scope="col"><small><b>Usuario</b></small></th>
                                        <th scope="col"><small><b>Fecha de Cambio</b></small></th>
                                        <th scope="col"><small><b>Cambios</b></small></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    {% for actualizacion in actualizaciones %}  
                                    <tr>
                                        <td><small>{{actualizacion.usuario.username}}</small></td>
                                        <td><small>{{actualizacion.fecha}}</small></td>
                                        <td><small>{{actualizacion.comentario}}</small></td>
                                    </tr>
                                    {% endfor %}
                                        
                                </tbody>
                            </table>    
                        </div>
                    </div>
                </div>
            {% else %}
                <h5>No hay historial de cambios</h5>
            {% endif %}
                <a href="{% url 'trabajador:ver_archivero' trabajador.id %}" class="btn btn-warning ml-3">Archivero</a>
            </div>
                
        </div>

        <div class="card text-white bg-dark mb-3 shadow">
            <div class="card-header">
                <h4 class="card-title mb-0">Datos Personales</h4>
            </div>
            <div class="card-body">
                <div class="form-row justify-content-center">
                    <div class="form-group col-md-2">
                        <label for="id_paterno">
                            Apellido Paterno
                        </label>
                        <input
                            disabled
                            type="text"
                            class="form-control"
                            value="{{trabajador.paterno}}"
                        />
                    </div>
                    <div class="form-group col-md-2">
                        <label for="id_materno">
                            Apellido Materno
                        </label>
                        <input
                            disabled
                            type="text"
                            class="form-control"
                            value="{{trabajador.materno}}"
                        />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="id_nombre">
                            Nombre
                        </label>
                        <input
                            disabled
                            type="text"
                            class="form-control"
                            value="{{trabajador.nombre}}"
                        />
                    </div>
                    <div class="form-group col-md-2">
                        <label for="id_rfc">
                            RFC
                        </label>
                        <input
                            disabled
                            type="text"
                            class="form-control"
                            value="{{trabajador.rfc}}"
                        />
                    </div>
                </div>

                <div class="form-row justify-content-center">
                    <div class="form-group col-md-3">
                        <label for="id_curp">
                            CURP
                        </label>
                        <input
                            disabled
                            type="text"
                            class="form-control"
                            value="{{trabajador.curp}}"
                        />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="id_sexo">
                            Sexo
                        </label>
                        <input
                            disabled
                            type="text"
                            class="form-control"
                            value="{% if trabajador.sexo == M %}Masculino{% else %}Femenino{% endif %}"
                        />
                    </div>
                </div>
            </div>
        </div>

        <div class="card text-white bg-dark mb-3 shadow">
            <div class="card-header">
                <h4 class="card-title mb-0">Datos de Residencia</h4>
            </div>
            <div class="card-body">

                <div class="form-row justify-content-center">
                    <div class="form-group col-md-3">
                        <label for="id_pais_residencia">
                            Pais de Residencia
                        </label>
                        <input
                            disabled
                            type="text"
                            class="form-control"
                            value="{{trabajador.pais_residencia}}"
                        />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="id_estado_residencia">
                            Estado de Residencia
                        </label>
                        <input
                            disabled
                            type="text"
                            class="form-control"
                            value="{{trabajador.estado_residencia}}"
                        />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="id_municipio_residencia">
                            Municipio de Residencia
                        </label>
                        <input
                            disabled
                            type="text"
                            class="form-control"
                            value="{{trabajador.municipio_residencia}}"
                        />
                    </div>
                </div>

                <div class="form-row justify-content-center">
                    <div class="form-group col-md-3">
                        <label for="id_calle">
                            Calle de Residencia
                        </label>
                        <input
                            disabled
                            type="text"
                            class="form-control"
                            value="{{trabajador.calle}}"
                        />
                    </div>
                    <div class="form-group col-md-1">
                        <label for="id_numero">
                            Numero
                        </label>
                        <input
                            disabled
                            type="text"
                            class="form-control"
                            value="{{trabajador.numero}}"
                        />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="id_colonia">
                            Colonia de Residencia
                        </label>
                        <input
                            disabled
                            type="text"
                            class="form-control"
                            value="{{trabajador.colonia}}"
                        />
                    </div>
                </div>

                <div class="form-row justify-content-center">
                    <div class="form-group col-md-1">
                        <label for="id_cp">
                            CP
                        </label>
                        <input
                            disabled
                            type="text"
                            class="form-control"
                            value="{{trabajador.cp}}"
                        />
                    </div>
                    <div class="form-group col-md-2">
                        <label for="id_telefono">
                            Telefono
                        </label>
                        <input
                            disabled
                            type="text"
                            class="form-control"
                            value="{{trabajador.telefono}}"
                        />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="id_email">
                            Correo Electrónico
                        </label>
                        <input
                            disabled
                            type="text"
                            class="form-control"
                            value="{{trabajador.email}}"
                        />
                    </div>
                </div>
            </div>
        </div>

        <div class="card text-white bg-dark mb-3 shadow">
            <div class="card-header">
                <h4 class="card-title mb-0">Datos Laborales</h4>
            </div>
            <div class="card-body">

                <div class="form-row justify-content-center">
                    <div class="form-group col-md-3">
                        <label for="id_matricula_administrativo">
                            Matricula de Administrativo
                        </label>
                        <input
                            disabled
                            type="text"
                            class="form-control"
                            value="{{trabajador.matricula_administrativo}}"
                        />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="id_matricula_gremial">
                            Matricula Gremial
                        </label>
                        <input
                            disabled
                            type="text"
                            class="form-control"
                            value="{{trabajador.matricula_gremial}}"
                        />
                    </div>
                </div>
            </div>
        </div>

        <div class="card text-white bg-dark mb-3 shadow">
            <div class="card-header">
                <h4 class="card-title mb-0">Datos Academicos</h4>
            </div>
            <div class="card-body">

                <div class="form-row justify-content-center">
                    <div class="form-group col-md-5">
                        <label for="id_grado_max_estudios">
                            Grado Maximo de Estudios
                        </label>
                        <input
                            disabled
                            type="text"
                            class="form-control"
                            value="{{trabajador.get_grado_max_estudios_display}}"
                        />
                    </div>
                </div>
            </div>
        </div>

        <div class="card text-white bg-dark mb-3 shadow">
            <div class="card-header">
                <h4 class="card-title mb-0">Datos de ISSSTE</h4>
            </div>
            <div class="card-body">

                <div class="form-row justify-content-center">
                    <div class="form-group col-md-3">
                        <label for="id_nss">
                            NSS
                        </label>
                        <input
                            disabled
                            type="text"
                            class="form-control"
                            value="{{trabajador.nss}}"
                        />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="id_no_issste">
                            No. de ISSSTE
                        </label>
                        <input
                            disabled
                            type="text"
                            class="form-control"
                            value="{{trabajador.no_issste}}"
                        />
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex float-right">
            <a href="{% url 'trabajador:modificar_trabajador' trabajador.id %}" class="btn btn-primary mb-3">Editar</a>
            <a href="{% url 'trabajador:eliminar_trabajador' trabajador.id %}" class="btn btn-danger mb-3 ml-2">Eliminar</a>
            <button onClick="javascript:history.go(-1);"
                class="btn btn-secondary mb-3 ml-2">
                Regresar
            </button>
        </div>


{% endblock contenido %}
